@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  background: black;
  overflow-x: hidden;
}

/* stop rubber bounce */
html {
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

/* modern thin scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 15px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #444;
}
